{% extends "base.html" %}
{% block content %}
    <div class="p-3 mb-2 bg-dark text-white">
    <h2 style = "text-align: center;">Microsoft Azure Login</h2>
    </div>
      {% for message in form.subscriptionid.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      
      {% for message in form.clientid.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      
      {% for message in form.secret.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      
      {% for message in form.tenant.errors %}
         <div>{{ message }}</div>
      {% endfor %}
   
    <form action = {{ url_for('login') }} method = post>
            <fieldset class="form-group">
                <legend >Credential Form</legend>
                <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.subscriptionid.label }}<br>{{ form.subscriptionid(class_="form-control") }}
                <br>{{ form.clientid.label }}<br>{{ form.clientid(class_="form-control") }}
                <br>{{ form.secret.label }} <br>{{ form.secret(class_="form-control") }}
                <br>{{ form.tenant.label }}<br>{{ form.tenant(class_="form-control") }}
                 <br>{{ form.group.label }}<br>{{ form.group(class_="form-control") }}
                <br>
                </div>
                {{ form.submit(class="btn btn-primary") }}      
            </fieldset>
        </form>
{% endblock %}
